<sw-container columns="100%" rows="auto" v-if="!loading.product">
	<sw-container columns="100%" rows="auto">
		<sw-card title="Extra-Kosten">
			<sw-data-grid v-if="available" :is-loading="loading.product" :data-source="properties" :show-selection="false" :columns="columns" :allow-inline-edit="true" :compact-mode="true" style="margin: -30px">

				<template slot="column-option-name" slot-scope="{ item }">
					<b>{{ item.name }}:</b>
					<span>&nbsp;{{ item.value }}</span>
				</template>

				<template v-for="quantity in quantities" :key="quantity.id" :slot="`column-quantity-${quantity.id}`" slot-scope="{ item, compact }">
					<sw-field type="number" :size="compact ? 'small' : 'default'" v-model="item.prices[quantity.id]" @input-change="onInputChange"/>
				</template>

				<template slot="column-setup-cost" slot-scope="{ item, compact }">
					<sw-field type="number" :size="compact ? 'small' : 'default'" v-model="item.prices['setup-cost']" @input-change="onInputChange"/>
				</template>

				<template slot="column-film-cost" slot-scope="{ item, compact }">
					<sw-field type="number" :size="compact ? 'small' : 'default'" v-model="item.prices['film-cost']" @input-change="onInputChange"/>
				</template>

			</sw-data-grid>
			<p v-else>
				<b>Bitte fügen Sie erst die Varianten hinzu</b>
			</p>
		</sw-card>
	</sw-container>
</sw-container>
